[Unit]
Description=Integrate Ollama - API Gateway Service
After=network.target

[Service]
Type=simple
User=moh_solehuddin190805
WorkingDirectory=/home/moh_solehuddin190805/projects/integrate-ollama
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
Environment=NODE_ENV=production
EnvironmentFile=/home/moh_solehuddin190805/projects/integrate-ollama/.env

[Install]
WantedBy=multi-user.target
